/* CSS Document */
body {
	font-family: tahoma ;
}

#copyright {
	font-size: 0.9em;
}

#farsicopyright {
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 0.9em;
}

#menuu {
	background-color: aqua;
padding-right: 30px;
}

.nav-link {
	margin-right: 2vw;	
}

#iranzamin {
	color: royalblue;
}
